---
rss_feed: "{{ osmc_config_rss_feed }}"
media_tv_shows: "{{ osmc_media_tv_shows }}"
media_movies: "{{ osmc_media_movies }}"
subs_lang: {{ osmc_subtitles_main_language }}
list_of_series: {{ osmc_list_of_series }}
transmission_username: {{ osmc_transmission_username }}
transmission_password: {{ osmc_transmission_clear_password }}
addic73d_username: {{ osmc_addic7ed_username }}
addic73d_password: {{ osmc_addic7ed_password }}
opensubtitles_username: {{ osmc_opensubtitles_username }}
opensubtitles_password: {{ osmc_opensubtitles_password }}
kodi_username: {{ osmc_kodi_username }}
kodi_password: {{ osmc_kodi_password }}
trakt_username: {{ osmc_trakt_username }}
