{
    "alt-speed-down": {{ osmc_transmission_alt_speed_down | default(50) }}, 
    "alt-speed-enabled": {{ osmc_transmission_alt_speed_enabled | default('false') }}, 
    "alt-speed-time-begin": {{ osmc_transmission_alt_speed_time_begin | default(540) }}, 
    "alt-speed-time-day": {{ osmc_transmission_alt_speed_time_day | default(127) }}, 
    "alt-speed-time-enabled": {{ osmc_transmission_alt_speed_time_enabled | default('false') }}, 
    "alt-speed-time-end": {{ osmc_transmission_alt_speed_time_end | default(1020) }}, 
    "alt-speed-up": {{ osmc_transmission_alt_speed_up | default(50) }}, 
    "bind-address-ipv4": {{ osmc_transmission_bind_address_ipv4 | default('\"0.0.0.0\"') }}, 
    "bind-address-ipv6": {{ osmc_transmission_bind_address_ipv6 | default('\"::\"') }}, 
    "blocklist-enabled": {{ osmc_transmission_blocklist_enabled | default('false') }}, 
    "blocklist-url": "{{ osmc_transmission_blocklist_url | default('http://www.example.com/blocklist') }}", 
    "cache-size-mb": {{ osmc_transmission_cache_size_mb | default(4) }}, 
    "dht-enabled": {{ osmc_transmission_dht_enabled | default('true') }}, 
    "download-dir": "{{ osmc_transmission_download_dir | default('/var/lib/transmission-daemon/downloads') }}", 
    "download-limit": {{ osmc_transmission_download_limit | default(100) }}, 
    "download-limit-enabled": {{ osmc_transmission_download_limit_enabled | default(0) }}, 
    "download-queue-enabled": {{ osmc_transmission_download_queue_enabled | default('true') }}, 
    "download-queue-size": {{ osmc_transmission_download_queue_size | default(5) }}, 
    "encryption": {{ osmc_transmission_encryption | default(1) }}, 
    "idle-seeding-limit": {{ osmc_transmission_idle_seeding_limit | default(30) }}, 
    "idle-seeding-limit-enabled": {{ osmc_transmission_idle_seeding_limit_enabled | default('false') }}, 
    "incomplete-dir": "{{ osmc_transmission_incomplete_dir | default('/var/lib/transmission-daemon/downloads') }}", 
    "incomplete-dir-enabled": {{ osmc_transmission_incomplete_dir_enabled | default('false') }}, 
    "lpd-enabled": {{ osmc_transmission_lpd_enabled | default('false') }}, 
    "max-peers-global": {{ osmc_transmission_max_peers_global | default(200) }}, 
    "message-level": {{ osmc_transmission_message_level | default(1) }}, 
    "peer-congestion-algorithm": {{ osmc_transmission_peer_congestion_algorithm | default('\"\"') }}, 
    "peer-id-ttl-hours": {{ osmc_transmission_peer_id_ttl_hours | default(6) }}, 
    "peer-limit-global": {{ osmc_transmission_peer_limit_global | default(200) }}, 
    "peer-limit-per-torrent": {{ osmc_transmission_peer_limit_per_torrent | default(50) }}, 
    "peer-port": {{ osmc_transmission_peer_port | default(51413) }}, 
    "peer-port-random-high": {{ osmc_transmission_peer_port_random_high | default(65535) }}, 
    "peer-port-random-low": {{ osmc_transmission_peer_port_random_low | default(49152) }}, 
    "peer-port-random-on-start": {{ osmc_transmission_peer_port_random_on_start | default('false') }}, 
    "peer-socket-tos": {{ osmc_transmission_peer_socket_tos | default('"default"') }}, 
    "pex-enabled": {{ osmc_transmission_pex_enabled | default('true') }}, 
    "port-forwarding-enabled": {{ osmc_transmission_port_forwarding_enabled | default('false') }}, 
    "preallocation": {{ osmc_transmission_preallocation | default(1) }}, 
    "prefetch-enabled": {{ osmc_transmission_prefetch_enabled | default(1) }}, 
    "queue-stalled-enabled": {{ osmc_transmission_queue_stalled_enabled | default('true') }}, 
    "queue-stalled-minutes": {{ osmc_transmission_queue_stalled_minutes | default(30) }}, 
    "ratio-limit": {{ osmc_transmission_ratio_limit | default(2) }}, 
    "ratio-limit-enabled": {{ osmc_transmission_ratio_limit_enabled | default('false') }}, 
    "rename-partial-files": {{ osmc_transmission_rename_partial_files | default('true') }}, 
    "rpc-authentication-required": {{ osmc_transmission_rpc_auth_required | default('true') }}, 
    "rpc-bind-address": {{ osmc_transmission_rpc_bind_address | default('\"0.0.0.0\"') }}, 
    "rpc-enabled": {{ osmc_transmission_rpc_enabled | default('true') }}, 
    "rpc-password": "{{ osmc_transmission_password | default('transmission') }}", 
    "rpc-port": {{ osmc_transmission_rpc_port | default(9091) }}, 
    "rpc-url": "{{ osmc_transmission_url | default('/transmission/') }}", 
    "rpc-username": "{{ osmc_transmission_username | default('transmission') }}", 
    "rpc-whitelist": "{{ osmc_transmission_allowed_subnets | default(['127.0.0.1']) | join(',') }}", 
    "rpc-whitelist-enabled": {{ osmc_transmission_rpc_whitelist_enabled | default('true') }}, 
    "scrape-paused-torrents-enabled": {{ osmc_transmission_scrape_paused_torrents_enabled | default('true') }}, 
    "script-torrent-done-enabled": {{ osmc_transmission_script_torrent_done_enabled | default('false') }}, 
    "script-torrent-done-filename": {{ osmc_transmission_script_torrent_done_filename | default('""') }}, 
    "seed-queue-enabled": {{ osmc_transmission_seed_queue_enabled | default('false') }}, 
    "seed-queue-size": {{ osmc_transmission_seed_queue_size | default(10) }}, 
    "speed-limit-down": {{ osmc_transmission_speed_limit_down | default(100) }}, 
    "speed-limit-down-enabled": {{ osmc_transmission_speed_limit_down_enabled | default('false') }}, 
    "speed-limit-up": {{ osmc_transmission_speed_limit_up | default(100) }}, 
    "speed-limit-up-enabled": {{ osmc_transmission_speed_limit_up_enabled | default('false') }}, 
    "start-added-torrents": {{ osmc_transmission_start_added_torrents | default('true') }}, 
    "trash-original-torrent-files": {{ osmc_transmission_trash_original_torrent_files | default('false') }}, 
    "umask": {{ osmc_transmission_umask | default(18) }}, 
    "upload-limit": {{ osmc_transmission_upload_limit | default(100) }}, 
    "upload-limit-enabled": {{ osmc_transmission_upload_limit_enabled | default(0) }}, 
    "upload-slots-per-torrent": {{ osmc_transmission_upload_slots_per_torrent | default(14) }}, 
    "utp-enabled": {{ osmc_transmission_utp_enabled | default('true') }}
}
